.RegisterForm {
  width: 500px; }
  .RegisterForm .card-body {
    font-size: 15px !important; }
  .RegisterForm .card-header {
    text-align: center; }



// WEBPACK FOOTER //
// ./src/containers/Form/RegisterForm/RegisterForm.scss