.HeaderTitle {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  text-decoration: underline;
  -webkit-text-decoration-color: #375a7f;
  text-decoration-color: #375a7f;
  text-align: center; }



// WEBPACK FOOTER //
// ./src/components/UI/HeaderTitle/HeaderTitle.scss