.LoginForm {
  width: 500px; }
  .LoginForm .card-body {
    font-size: 15px !important; }
  .LoginForm .card-header {
    text-align: center; }



// WEBPACK FOOTER //
// ./src/containers/Form/LoginForm/LoginForm.scss